.filled svg {
	fill: var(--primary);
}

.star svg {
	display: inline-block;
}

.editable {
	cursor: pointer;
}

.wrapper {
	cursor: pointer;
}

.ratingWrapper {
	position: relative;
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: 2px;

	color: var(--red);

	font-size: 12px;
}

.error svg {
	stroke: var(--red);
}
