html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F6F8;

	font-family: "Noto Sans Display", sans-serif;
}

a {
	text-decoration: none;

	color: #35F;
	color: inherit;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.visuallyHidden {
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
}

:root {
	--black: #3B434E;
	--gray-light: #6C7077;
	--gray: #A4A4A4;
	--gray-dark: #787D85;
	--white: white;
	--primary: #256E93;
	--primary-hover: #294579;
	--red: #FC836D;
	--red-light: #FFF4F4;
	--green: #1DC47E;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans Display", sans-serif;
	--trans: all 0.3s ease-in-out;
}
